
h1{
    color: red;

}

h2{
    color: orange;
}

h3{
    color: yellow;
}

h4{
    color: green;
}

h5{
    color: blue;
}

h6{
    color: purple;
}

body{
    background-color: wheat;
    font-family: "Gwendolyn", cursive;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

#title-parrafos{
    text-align: center;
}

