/* Stylesheet for listasyenlaces.html */

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: thistle;
}

.title{
    text-align: center;
}

h2{
    text-align: center;
}

.ordered-list{
    display: inline-flex;
    
}

.ordered-list li{
    margin-left: 120px;
}

p{
    font-size: 75%;
    color: blue;
}

a{
    text-decoration: blink;
    color: blue;
}

a:visited{
    color: blue;
}

dt{
    font-weight: 600;
    text-align: center;
}

dl dd{
    display: inline-flex;
    margin-left: 15%;
}
img{
    margin-top: 1%;
    margin-left: 13%;
    width: 200px;
}

